{% extends "page-template.html" %} {% block content %}
<h1 class="h2 text-darkest-gray mb-5">Product Backlog</h1>

<section>
  <div class="d-flex flex-column gap-1">
    <p class="text-dark-gray">
      Antes do início do desenvolvimento, o Product Owner inicia, a partir da
      Visão do Produto, a criação de uma lista ordenada, incompleta e dinâmica
      de itens que representam o que ele acredita que será produzido ao longo do
      projeto. Essa lista é chamada de Product Backlog.
    </p>
    <p class="text-dark-gray">
      Os itens do alto do Product Backlog são os mais importantes naquele
      momento e, por essa razão, possuem mais detalhes para serem desenvolvidos
      primeiro. Os itens a seguir têm gradativamente menos detalhes, assim como
      mostra o exemplo abaixo:
    </p>
    <table class="table mt-3 mb-1 border border-1">
      <thead>
        <tr>
          <th scope="col text-darkest-gray">ID</th>
          <th scope="col text-darkest-gray">User Story</th>
          <th scope="col text-darkest-gray">Descrição</th>
          <th scope="col text-darkest-gray">Prioridade</th>
          <th scope="col text-darkest-gray">Estimativa</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row text-darkest-gray">1</th>
          <td class="text-dark-gray">
            Como usuário, quero criar uma conta com e-mail e senha, para acessar
            o app.
          </td>
          <td class="text-dark-gray">
            O sistema deve permitir cadastro com e-mail válido, senha forte e
            confirmação de senha.
          </td>
          <td class="text-dark-gray">Alta</td>
          <td class="text-dark-gray">5</td>
        </tr>
        <tr>
          <th scope="row text-darkest-gray">2</th>
          <td class="text-dark-gray">
            Como usuário, quero pesquisar livros por título ou autor, para
            encontrar o que desejo.
          </td>
          <td class="text-dark-gray">
            A busca deve aceitar pelo menos título e autor, com resposta rápida
            dos resultados.
          </td>
          <td class="text-dark-gray">Alta</td>
          <td class="text-dark-gray">8</td>
        </tr>
        <tr>
          <th scope="row text-darkest-gray">3</th>
          <td class="text-dark-gray">
            Como usuário, quero favoritar livros, para guardar na minha lista de
            interesse.
          </td>
          <td class="text-dark-gray">
            O usuário deve poder adicionar/remover itens de uma lista pessoal de
            favoritos.
          </td>
          <td class="text-dark-gray">Média</td>
          <td class="text-dark-gray">3</td>
        </tr>
        <tr>
          <th scope="row text-darkest-gray">4</th>
          <td class="text-dark-gray">
            Como administrador, quero cadastrar novos livros no sistema, para
            manter o acervo atualizado.
          </td>
          <td class="text-dark-gray">
            O administrador deve poder inserir título, autor, ano, gênero e
            upload do livro em si.
          </td>
          <td class="text-dark-gray">Alta</td>
          <td class="text-dark-gray">8</td>
        </tr>
        <tr>
          <th scope="row text-darkest-gray">5</th>
          <td class="text-dark-gray">
            Como usuário, quero avaliar livros com estrelas e comentários, para
            compartilhar minha opinião.
          </td>
          <td class="text-dark-gray">
            Cada usuário poderá dar nota de 1 a 5 e escrever comentários de até
            500 caracteres.
          </td>
          <td class="text-dark-gray">Média</td>
          <td class="text-dark-gray">5</td>
        </tr>
        <tr>
          <th scope="row text-darkest-gray">6</th>
          <td class="text-dark-gray">
            Como usuário, quero receber recomendações baseadas em livros que
            favoritei, para descobrir outras leituras.
          </td>
          <td class="text-dark-gray">
            O sistema deve recomendar livros similares aos que o usuário marcou
            como favorito.
          </td>
          <td class="text-dark-gray">Baixa</td>
          <td class="text-dark-gray">13</td>
        </tr>
      </tbody>
    </table>
    <small class="text-center mb-5 text-light-gray"
      >Exemplo de um Product Backlog para um aplicativo de Biblioteca
      Online</small
    >

    <p class="text-dark-gray">
      O Product Backlog inicial pode ser longo, contendo desde itens pequenos e
      bem detalhados até itens grandes e vagos. Mas ele também pode conter
      apenas uma quantidade de itens necessária para se iniciar o
      desenvolvimento. O Product Backlog evoluirá ao longo de todo o projeto e
      será frequentemente modificado com a adição, subtração, reordenamento e
      modificação de seus itens.
    </p>

    <figure class="w-50 mx-auto d-block mb-5">
      <img
        src="{{url_for('static', filename='images/product-backlog.png')}}"
        class="img-fluid rounded"
        alt="imagem de ilustrativa de um Product Backlog"
      />
    </figure>
  </div>
</section>
{% endblock %}
